
@{
    ViewData["Title"] = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Contact Start -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Hệ thống siêu thị Mediamart</span></h2>
    </div>
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form">
                <div id="success"></div>
                <form name="sentMessage" id="contactForm" novalidate="novalidate">
                    <div class="control-group">
                        <input type="text" class="form-control" id="name" placeholder="Họ và tên"
                               required="required" data-validation-required-message="Please enter your name" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="email" class="form-control" id="email" placeholder="Email"
                               required="required" data-validation-required-message="Please enter your email" />
                        <p class="help-block text-danger"></p>
                    </div>
                    
                    <div class="control-group">
                        <textarea class="form-control" rows="6" id="message" placeholder="Phản hồi"
                                  required="required"
                                  data-validation-required-message="Vui lòng nhập phản hồi của bạn"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div>
                        <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">
                            Gửi
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-5 mb-5">
            
            <div class="d-flex flex-column mb-3">
                <h5 class="font-weight-semi-bold mb-3">Mediamart Trường Chinh</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>72 Đ. Trường Chinh - Phương Đình - Đống Đa - Hà Nội </p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>mediamart@gmail.com</p>
                <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>19006788</p>
            </div>
            <div class="d-flex flex-column mb-3"> <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7449.734882374819!2d105.84013719678916!3d20.99795014327801!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac7abdb394eb%3A0xcd3f05fc76499f69!2zTWVkaWEgTWFydCBUcsaw4budbmcgQ2hpbmg!5e0!3m2!1svi!2sus!4v1715652580364!5m2!1svi!2sus" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
        </div>
    </div>
</div>
<!-- Contact End -->


